@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Press+Start+2P&family=Russo+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #242424 url("https://pokemon-world-imdoug.netlify.app/img/pokeball.svg") space fixed ;

}
